<div id='Contact'>
  <h1 class= "contacts">Aiyaaa!! Contact page is currently under construction :P</h1>
  <br>
    <br>
      <img src="http://travelbetweenthepages.files.wordpress.com/2011/12/3531495104_d8ef3b2cdf_b.jpg">
</div>