    <div id="header">
      <div class="logo"></div>
    </div>
    <div id="map-canvas" style="width: 1000px; height:800px;"></div>
      <div id="marker-tooltip">
    </div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>