  <div id="wrapper">
    <div id="header">
      <div class="logo"></div>
    </div>
    <div id="map-canvas" style="width:100%; height:650px;"></div>
      <div id="marker-tooltip">
    </div>
  </div>






<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>